@font-face {
  font-family: "Gotham SSm";
  src: url("../public/GothamSSm-Book_Web.woff2") format("woff2"),
    url("../public/GothamSSm-Medium_Web.woff2") format("woff2");
}

:root {
  --primary-color: #171a20;
  --custom1-color: #393c41;
}

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: "Gotham SSm", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.impact {
  background-color: #fff;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 52px;
}

.impact a {
  color: var(--custom1-color);
  font-size: 14px;
  border-bottom: 1px solid var(--custom1-color);
}

.header {
  width: 100%;
  position: fixed;
  top: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}

.header .left {
  padding-left: 32px;
  flex: 1.5 1 auto;
}

.mainlogo {
  padding-left: 16px;
  cursor: pointer;
  object-fit: fill;
  width: 120px;
  height: 24px;
}

.header .mid {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

.header .item {
  cursor: pointer;
  transition: 600ms ease;
  font-size: 14px;
  padding: 8px 16px;
  font-weight: 600;
  border-radius: 12px;
  color: var(--primary-color);
}

.header .right {
  flex: 1 1 auto;
  display: flex;
  justify-content: end;
  padding-right: 32px;
}

.header .item:hover {
  background-color: rgba(128, 128, 128, 0.15);
}

.content {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  overflow-x: clip;
  scroll-snap-type: y mandatory;
}

.content-item {
  scroll-snap-align: start;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.display-data {
  top: calc(52px + 56px + 6vh);
  position: fixed;
  display: flex;
  left: 50%;
  transform: translateX(
    -50%
  ); /* normally 50 percent left space ignores the width, but shifts left by half the width again*/
}
.display-data .title {
  text-align: center;
}
.display-data .title h1 {
  font-size: 40px;
  color: var(--primary-color);
}
.line {
  display: flex;
  align-items: center;
  justify-content: center;
}
.line a {
  font-weight: 400;
  color: var(--custom1-color);
  font-size: 14px;
  border-bottom: 1px solid var(--custom1-color);
}
.buttons {
  position: fixed;
  bottom: 7rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
}
.button1 {
  background-color: #171a20cc;
}
.button1 > a {
  color: white;
}
.button2 {
  background-color: #f4f4f4a6;
}
.button2 > a {
  color: var(--custom1-color);
}

.button > a {
  font-weight: 500;
  font-size: 12px;
}
.button {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 40px;
  width: 264px;
  border-radius: 40px;
  padding: 7px 24px;
  cursor: pointer;
}

/**/

.rightmenu {
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: white;
}
.menu-header {
  margin: 20px;
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.menu-content {
  width: 230px;
  margin: 32px;
}
.menu-content ol li a {
  color: var(--custom1-color);
  font-size: 14px;
  font-weight: 500;
}

.menu-content .item:hover {
  background-color: red;
}
.arrow {
  animation: 1s ease-in;
  position: fixed;
  bottom: 15px;
  left: calc(50% - 12.5px);
  width: 25px;
  height: 35px;
}
.arrow img {
  animation: arr 1.2s ease infinite;

  position: absolute;
}
@keyframes arr {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0px;
  }
}
